// AboutUs.scss

.AboutUs {
  &__heading {
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

// wraps each founders-unordered-list
.FoundersWrapper {
  border: 1px solid black;
  @include grid-cols-and-gap;
}

.Founder {  
  &:nth-child(1) { 
    grid-column: content-start / content-end;
  }
  &:nth-child(2) { 
    grid-column: content-start / content-end;
  }
  &:nth-child(3) { 
    grid-column: content-start / content-end;
  }

  &__image {
    
  }
  &__name {
    
  }
  &__title {
    
  }
}
