.Calendar {
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: -1px;
}

.custom-today-day {
  font-size: 700;
}


.custom-today-day::after {
  visibility: hidden; /* hide small border under the text */
}


.responsive-calendar {
  /* by setting font-size, all the elements will correspond */
  font-size: 10px !important; /* default to 10px */
}

@media (max-width: 1500px) {
  .responsive-calendar {
    font-size: 8px !important;
  }
}

@media (max-width: 1200px) {
  .responsive-calendar {
    font-size: 7px !important;
  }
}

@media (max-width: 768px) {
  .responsive-calendar {
    font-size: 10px !important;
  }
}

/* Large screens */
@media (min-width: 2500px) {
  .responsive-calendar {
    font-size: 12px !important;
  }
}
