// Search.scss

// SearchFormAndResultsContainer.scss

.Search {
  // background-color: map-get($brand-colors, 'orange' );
  font-family: $font-stack;

  @include grid-cols-and-gap;
  grid-template-rows: 
    150px     // 1. empty
    auto      // 2. formWrapper
    150px     // 3. empty
    auto      // 4. search results
  ;

  &__backgroundImage {
    grid-column: 1 / -1;
    grid-row: 1 / 4;
    background-image: url(../../assets/saloon/saloon-medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // vertical and horizontal centering
    background-position: center center;
  }
  
  &__formWrapper {
    grid-column: content-start / content-end;
    grid-row: 2;
  }

  &__resultsWrapper {
    grid-column: content-start / content-end;
    grid-row: 4;
  }
}

// respond to laptop upwards, change the layout:
// include the image to the left of form
.Search--horizontal {
  @include for-laptop-up {
    .Search__formWrapper {
      grid-column: 8 / content-end;
    }

    .Search__resultsWrapper {
      grid-column: 4 / span 8;
    }
  }
}



